@charset "utf-8";
// ===========================
//
// common
//
// ===========================

a,
a:hover,
a:active,
a:visited {
  color: #e08c69;
}
a {
  display: inline;
  position: relative;
  text-decoration: none;
  z-index: 1;
  text-decoration: none;
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    z-index: -1;
    display: inline-block;
    background-color: #fef3ec;
    opacity: 0;
  }
}
a:hover {
  &:before {
    opacity: 1;
  }
}
a.altText:hover {
  background-color: transparent;
}
::selection {
  background: #fb9d9d; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: #fb9d9d; /* Firefox */
  color: #fff;
}
.raleway {
  font-family: "Raleway", "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.wave {
  // &:before {
  //   content: "";
  //   width: 100%;
  //   height: 30px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }
  &:after {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    background-repeat: repeat-x;
    background-position: top left;
    background-size: 250px auto;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &--white {
    &:before {
      background-color: #f9f2ef;
    }
    &:after {
      background-image: url("../assets/img/common/bg_wave_white.svg");
    }
  }
  &--pink {
    &:before {
      background-color: #fff;
    }
    &:after {
      background-image: url("../assets/img/common/bg_wave_pink.svg");
    }
  }
  &--bottom {
    &:after {
      background-image: url("../assets/img/common/bg_wave_pink_bottom.svg");
      left: 0;
      bottom: -40px;
      top: auto;
      content: "";
      display: block;
      position: absolute;
    }
  }
  &--top {
    &:before {
      background-image: url("../assets/img/common/bg_wave_pink_top.svg");
      left: 0;
      top: -30px;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 40px;
    }
  }
}
.wave-line {
  padding-bottom: 80px;
  //border-bottom: 1px solid #f2f0ef;
  background-image: url("../assets/img/common/bg_wave_line.svg");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 250px auto;
}

.heading {
  font-size: 40px;
  @extend .raleway;
  letter-spacing: 4px;
  padding-left: 50px;
  position: relative;
  margin-bottom: 40px;
  &:before {
    width: 35px;
    content: "";
    height: 1px;
    border-bottom: solid 1px #666666;
    position: absolute;
    left: 0;
    top: 19px;
  }
}
.morelink {
  text-align: right;
  > a {
    display: inline-block;
    padding: 8px 25px 8px 15px;
    border-radius: 10px;
    border: 1px solid #e08c69;
    background-color: #ffffff;
    &:after {
      content: "";
      background-image: url("../assets/img/common/arrow_right.svg");
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: right -3px;
      position: absolute;
      width: 18px;
      height: 21px;
    }
    &:before {
      display: none;
    }
    &:hover {
      background-color: #e08c69;
      color: #fff;
      &:after {
        display: none;
      }
    }
  }
}
.bottom-line {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f0ef;
  &--pink {
    border-bottom: 1px solid #e8e3e1;
  }
}
.btn {
  text-align: left;
  > a {
    display: inline-block;
    padding: 14px 40px 14px 25px;
    border-radius: 10px;
    background-color: #e08c69;
    &:after {
      content: "";
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: right -3px;
      position: absolute;
      width: 18px;
      height: 21px;
      right: 14px;
      top: 50%;
      margin-top: -8px;
    }
    &:before {
      display: none;
    }
  }
  &--red {
    > a {
      color: #ffffff;
      border: 1px solid #e08c69;
      &:after {
        background-image: url("../assets/img/common/arrow_right_white.svg");
      }
      &:hover {
        color: #e08c69;
        background-color: #ffffff;
        border: 1px solid #e08c69;
        &:after {
          background-image: url("../assets/img/common/arrow_right.svg");
        }
      }
    }
  }
  &--normal {
    > a {
      color: #e08c69;
      background-color: #ffffff;
      border: 1px solid #e08c69;
      &:after {
        background-image: url("../assets/img/common/arrow_right.svg");
      }
      &:hover {
        color: #ffffff;
        background-color: #e08c69;
        &:after {
          background-image: url("../assets/img/common/arrow_right_white.svg");
        }
      }
    }
  }
}
.section {
  min-height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    width: 1100px;
    height: 460px;
    padding-left: 300px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}
.otherpage {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  &:before {
    content: "";
    width: 450px;
    height: 470px;
    background-size: 470px auto;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    margin-left: 450px;
    top: -70px;
    background-image: url("../assets/img/common/deco_bg_dot1.svg");
    z-index: -1;
  }
  &:after {
    content: "";
    width: 650px;
    height: 611px;
    background-size: 650px auto;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    bottom: -160px;
    margin-left: -800px;
    background-image: url("../assets/img/common/deco_bg_dot2.svg");
    z-index: -1;
  }
  &__inner {
    width: 1100px;
    padding-left: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 250px;
  }
  .nav {
    background-color: inherit;
  }
  &__heading {
    padding-bottom: 20px;
    // &:after {
    //   content: "";
    //   border-bottom: 3px solid #f2f0ef;
    //   width: 100%;
    //   height: 10px;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    // }
  }
  &__list {
    > li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 30px;
      position: relative;
      padding-left: 12px;
      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 5px;
        left: 0;
        top: 12px;
        position: absolute;
        background-color: #c3c0be;
      }
    }
  }
}
.icon-link {
  display: inline-block;
  background-image: url("../assets/img/common/list_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  box-sizing: border-box;
  margin-right: 25px;
  padding: 4px 0 4px 20px;
  &:after {
    z-index: -1;
  }
}
