@charset "utf-8";
// ===========================
//
// common
//
// ===========================

a,
a:hover,
a:active,
a:visited {
  color: #e07469;
}
a {
  display: inline;
  position: relative;
  text-decoration: none;
  z-index: 1;
  text-decoration: none;
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7px;
    z-index: -1;
    display: inline-block;
    background-color: #fef3ec;
    opacity: 0;
  }
}
a:hover {
  &:before {
    opacity: 1;
  }
}
a.altText:hover {
  background-color: transparent;
}
::selection {
  background: #fb9d9d; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: #fb9d9d; /* Firefox */
  color: #fff;
}
.raleway {
  font-family: "Raleway", "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    "游ゴシック体", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, sans-serif;
}
.wave {
  // &:before {
  //   content: "";
  //   width: 100%;
  //   height: 30px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 1;
  // }
  &:after {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    background-repeat: repeat-x;
    background-position: top left;
    background-size: 250px auto;
    top: 0;
    left: 0;
    z-index: 2;
    bottom: -40px;
    @include max-screen($sp) {
      background-size: 170px auto;
      height: 30px;
      bottom: -20px;
    }
  }
  &:before {
    height: 40px;
    top: -30px;
    @include max-screen($sp) {
      background-size: 170px auto;
      height: 30px;
      top: -10px;
    }
  }
  &--white {
    &:before {
      background-color: #f9f2ef;
    }
    &:after {
      background-image: url("../assets/img/common/bg_wave_white.svg");
    }
  }
  &--pink {
    &:before {
      background-color: #fff;
    }
    &:after {
      background-image: url("../assets/img/common/bg_wave_pink.svg");
    }
  }
  &--bottom {
    &:after {
      background-image: url("../assets/img/common/bg_wave_pink_bottom.svg");
      left: 0;
      top: auto;
      content: "";
      display: block;
      position: absolute;
    }
  }
  &--top {
    &:before {
      background-image: url("../assets/img/common/bg_wave_pink_top.svg");
      left: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
    }
  }
}
.wave-line {
  padding-bottom: 80px;
  //border-bottom: 1px solid #f2f0ef;
  background-image: url("../assets/img/common/bg_wave_line.svg");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 250px auto;
  @include max-screen($sp) {
    padding-bottom: 50px;
    background-size: 170px auto;
  }
}
.ld {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #f8e9e7;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 1s ease-in-out;
  border-radius: 0;
  transform: translateY(0);
  &.before {
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 30px;
    background-image: url("../assets/img/common/loading/wave.svg");
    background-size: 70px auto;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
  &.is-loaded {
    transform: translateY(-150vh);
  }

  &__ol {
    width: 150px;
    height: 123px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;
    &.is-loaded {
      opacity: 0;
    }
  }
  &__wrap {
    width: 300px;
    height: 246px;
    position: absolute;
    right: -150px;
    bottom: 26px;
    transform: scale(0.3, 0.3);
    animation: walk-sp 35s 0s linear infinite;
    z-index: 9999;
    cursor: pointer;
    @include max-screen($sp) {
      transform: scale(0.3, 0.3);
      animation: walk-sp 16s 0s linear infinite;
      bottom: auto;
      top: -140px;
      right: -180px;
    }
    span {
      background-repeat: no-repeat;
      background-position: left top;
      display: block;
      position: absolute;
      z-index: 9999;
    }
  }
  @keyframes walk {
    0% {
      transform: scale(0.5, 0.5) translateX(0);
    }
    to {
      transform: scale(0.5, 0.5) translateX(-200vw);
    }
  }
  @keyframes walk-sp {
    0% {
      transform: scale(0.3, 0.3) translateX(0);
    }
    to {
      transform: scale(0.3, 0.3) translateX(-400vw);
    }
  }
  @keyframes flower1 {
    0% {
      transform: translateX(-300px);
    }
    to {
      transform: translateX(300px);
    }
  }
  @keyframes body {
    0% {
      transform: translateY(2px);
    }
    to {
      transform: translateY(-2px);
    }
  }
  @keyframes head {
    0% {
      transform: translateY(2px);
    }
    to {
      transform: translateY(-2px);
    }
  }
  @keyframes fukidashi {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes eye {
    0% {
      transform: scale(1, 1);
    }
    46% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.1);
    }
    53% {
      transform: scale(1, 1);
    }
    68% {
      transform: scale(1, 1);
    }
    70% {
      transform: scale(1, 0.1);
    }
    73% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  @keyframes tail {
    0% {
      transform: rotate(10deg) translateY(2px);
    }
    to {
      transform: rotate(20deg) translateY(-2px);
    }
  }
  @keyframes leg1 {
    0% {
      transform: rotate(-10deg) translateY(-3px);
    }
    30% {
      transform: rotate(-5deg) translateY(-5px);
    }
    50% {
      transform: rotate(0deg) translateY(3px);
    }
    100% {
      transform: rotate(-10deg) translateY(-3px);
    }
  }
  @keyframes leg2 {
    0% {
      transform: rotate(5deg) translateY(3px);
    }
    30% {
      transform: rotate(0deg) translateY(-2px);
    }
    50% {
      transform: rotate(-5deg) translateY(0);
    }
    100% {
      transform: rotate(5deg) translateY(3px);
    }
  }
  @keyframes leg4 {
    0% {
      transform: rotate(-10deg) translateY(-3px);
    }
    30% {
      transform: rotate(0deg) translateY(-8px);
    }
    50% {
      transform: rotate(5deg) translateY(0);
    }
    100% {
      transform: rotate(-10deg) translateY(-3px);
    }
  }
  &__pagetop {
    background-image: url("../assets/img/common/loading/fukidashi.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 300px auto;
    width: 300px;
    height: 300px;
    left: -160px;
    top: -150px;
    animation: fukidashi 3s -1s linear infinite;
  }
  &__logo {
    background-image: url("../assets/img/common/loading/logo.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 84px auto;
    width: 84px;
    height: 84px;
    left: 65px;
    top: 25px;
  }
  &__f1 {
    background-image: url("../assets/img/common/loading/flower1.svg");
    background-size: 130px auto;
    width: 130px;
    height: 80px;
    left: 200px;
    bottom: -49px;
    animation: flower1 7s -5s linear infinite;
  }
  &__c1 {
    background-image: url("../assets/img/common/loading/cat1.svg");
    background-size: 290px auto;
    width: 290px;
    height: 246px;
    left: 0;
    top: 0;
    animation: body 0.6s 0s ease-in-out infinite alternate;
    transform-origin: center center;
  }
  &__c2 {
    background-image: url("../assets/img/common/loading/cat2.svg");
    background-size: 135px auto;
    width: 142px;
    height: 111px;
    left: 0;
    top: 15px;
    animation: head 0.6s 0s ease-in-out infinite alternate;
    transform-origin: 122px 80px 0;
  }
  &__c3 {
    background-image: url("../assets/img/common/loading/cat3.svg");
    background-size: 80px auto;
    width: 80px;
    height: 100px;
    right: 10px;
    top: 0;
    animation: tail 0.6s 0s ease-in-out infinite alternate;
    transform-origin: -10px 80px;
  }
  &__c4 {
    background-image: url("../assets/img/common/loading/cat4.svg");
    background-size: 75px auto;
    width: 80px;
    height: 100px;
    left: 15px;
    top: 120px;
    animation: leg1 0.8s 0s ease-in-out infinite;
    transform-origin: 50px 10px;
  }
  &__c5 {
    background-image: url("../assets/img/common/loading/cat5.svg");
    background-size: 70px auto;
    width: 80px;
    height: 100px;
    left: 61px;
    top: 124px;
    animation: leg1 0.8s -0.4s ease-in-out infinite;
    transform-origin: 50px 10px;
  }
  &__c6 {
    background-image: url("../assets/img/common/loading/cat6.svg");
    background-size: 73px auto;
    width: 80px;
    height: 100px;
    right: 70px;
    top: 128px;
    animation: leg4 0.8s 0s ease-in-out infinite;
    transform-origin: 50px 10px;
  }
  &__c7 {
    background-image: url("../assets/img/common/loading/cat7.svg");
    background-size: 68px auto;
    width: 80px;
    height: 100px;
    right: 19px;
    top: 107px;
    animation: leg4 0.8s -0.4s ease-in-out infinite;
    transform-origin: 50px 10px;
  }
  &__c8 {
    background-image: url("../assets/img/common/loading/cat8.svg");
    background-size: 60px auto;
    width: 70px;
    height: 20px;
    left: 36px;
    top: 55px;
    animation: eye 3s 0s ease-in-out infinite alternate;
    transform-origin: center center;
  }
}
.heading {
  font-size: 40px;
  @extend .raleway;
  letter-spacing: 4px;
  padding-left: 50px;
  position: relative;
  margin-bottom: 40px;
  @include max-screen($sp) {
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .sp-block {
    display: none;
    @include max-screen($sp) {
      display: block;
    }
  }
  &:before {
    width: 35px;
    content: "";
    height: 1px;
    border-bottom: solid 1px #666666;
    position: absolute;
    left: 0;
    top: 19px;
    @include max-screen($sp) {
      top: 12px;
      width: 30px;
    }
  }
}
.morelink {
  text-align: right;
  > a {
    display: inline-block;
    padding: 8px 25px 8px 15px;
    border-radius: 10px;
    border: 1px solid #e07469;
    background-color: #ffffff;
    @include max-screen($sp) {
      font-size: 14px;
    }
    &:after {
      content: "";
      background-image: url("../assets/img/common/arrow_right.svg");
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: right -3px;
      position: absolute;
      width: 18px;
      height: 21px;
    }
    &:before {
      display: none;
    }
    &:hover {
      background-color: #e07469;
      color: #fff;
      &:after {
        display: none;
      }
    }
  }
}
.bottom-line {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e1de;
  @include max-screen($sp) {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  &--pink {
    border-bottom: 1px solid #dad5d3;
  }
}
.btn {
  text-align: left;
  > a {
    display: inline-block;
    padding: 14px 40px 14px 25px;
    border-radius: 10px;
    background-color: #e07469;
    @include max-screen($sp) {
      padding: 9px 30px 9px 20px;
      font-size: 14px;
    }
    &:after {
      content: "";
      background-repeat: no-repeat;
      background-size: 18px auto;
      background-position: right -3px;
      position: absolute;
      width: 18px;
      height: 21px;
      right: 14px;
      top: 50%;
      margin-top: -8px;
    }
    &:before {
      display: none;
    }
  }
  &--red {
    > a {
      color: #ffffff;
      border: 1px solid #e07469;
      &:after {
        background-image: url("../assets/img/common/arrow_right_white.svg");
      }
      &:hover {
        opacity: 0.5;
        @include max-screen($tablet) {
          opacity: 1;
        }
      }
    }
  }
  &--normal {
    > a {
      color: #e07469;
      background-color: #ffffff;
      border: 1px solid #e07469;
      &:after {
        background-image: url("../assets/img/common/arrow_right.svg");
      }
      &:hover {
        color: #ffffff;
        background-color: #e07469;
        &:after {
          background-image: url("../assets/img/common/arrow_right_white.svg");
        }
      }
    }
  }
}
.section {
  min-height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include max-screen($sp) {
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 14px;
  }
  &__inner {
    width: 1100px;
    padding-left: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    @include max-screen($tablet) {
      width: 100%;
      padding: 0 120px;
    }
    @include max-screen($sp) {
      padding: 0;
      height: auto;
    }
  }
}
.otherpage {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium", YuGothic,
    "游ゴシック体", "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, sans-serif;
  @include max-screen($tablet) {
    min-height: auto;
  }
  &:before {
    content: "";
    width: 450px;
    height: 470px;
    background-size: 470px auto;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    margin-left: 450px;
    top: -70px;
    background-image: url("../assets/img/common/deco_bg_dot1.svg");
    z-index: -1;
    @include max-screen($tablet) {
      margin-left: auto;
      left: auto;
      right: -120px;
    }
  }
  &:after {
    content: "";
    width: 650px;
    height: 611px;
    background-size: 650px auto;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 50%;
    bottom: -160px;
    margin-left: -800px;
    background-image: url("../assets/img/common/deco_bg_dot2.svg");
    z-index: -1;
    @include max-screen($tablet) {
      margin-left: auto;
      left: auto;
      left: -200px;
    }
  }
  &__inner {
    width: 1100px;
    padding-left: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 100px;
    @include max-screen($tablet) {
      padding-left: 0;
      width: 600px;
      padding-bottom: 100px;
    }
    @include max-screen($sp) {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      box-sizing: border-box;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .nav {
    background-color: inherit;
  }
  &__heading {
    padding-bottom: 20px;
    @include max-screen($sp) {
      line-height: 32px;
    }
    @include max-screen(600px) {
      padding-bottom: 0;
    }
    // &:after {
    //   content: "";
    //   border-bottom: 3px solid #f2f0ef;
    //   width: 100%;
    //   height: 10px;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    // }
    br {
      display: none;
      @include max-screen($sp) {
        display: block;
      }
    }
  }
  &__list {
    > li {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 30px;
      position: relative;
      padding-left: 12px;
      @include max-screen($sp) {
        font-size: 14px;
        line-height: 24px;
      }
      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 5px;
        left: 0;
        top: 12px;
        position: absolute;
        background-color: #c3c0be;
      }
      .em {
        background-color: #fef9ec;
      }
    }
  }
  &__lead {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
    @include max-screen($sp) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  &__text {
    line-height: 32px;
    @include max-screen($sp) {
      font-size: 14px;
      line-height: 28px;
    }
  }
  &__ttl {
    font-size: 24px;
    margin: 50px 0 15px 0;
    @include max-screen($sp) {
      font-size: 20px;
      margin: 40px 0 15px 0;
    }
  }
}
.icon-link {
  display: inline-block;
  background-image: url("../assets/img/common/list_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  box-sizing: border-box;
  margin-right: 25px;
  padding: 4px 0 4px 20px;
  &:after {
    z-index: -1;
  }
}
